[submodule "mbedtls"]
	path = mbedtls
	url = https://github.com/BradyBrenot/mbedtls.git
[submodule "screen_capture_lite"]
	path = screen_capture_lite
	url = https://github.com/BradyBrenot/screen_capture_lite
[submodule "libhuestacean"]
	path = libhuestacean
	url = https://github.com/BradyBrenot/libhuestacean.git
